<!doctype html>
<html lang="en">
{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <body class="text-center">
        {% for order in all_orders %}
            <form action="/order/{{order.orderId}}">
            <button class="m-1 btn col btn-outline-green">{{ order.orderId }}</button>
            </form>
        {% endfor %}
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
    </body>
{% endblock %}
</html>