<!doctype html>
<html lang="en">
{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <body class="text-center">
        {% for status in status_lst %}
            <form action="/order/{{orderId}}" method="post">
            <button name="status_button" value="{{ status }}" class="m-1 btn col btn-outline-green">{{ status }}</button>
            </form>
        {% endfor %}
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
    </body>
{% endblock %}
</html>