<html>
    <body>
        {% block preparingCard %}
        <div class="col-sm-6 mb-3">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title text-color">Order 1</h5>
                <p class="card-text text-color">Customer Name here</p>
                <a href="#" class="m-1 btn col btn-outline-green">Ready for Robot</a>
            </div>
            </div>
        </div>
            {% for order in orders %}
            
            {% endfor %}
        {% endblock preparingCard %}
    </body>

</html>
