<html>
    <body>
        {% block deliveryCard %}
        <div class="col-sm-6 mb-3">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title text-color">Order 1</h5>
                <p class="card-text text-color">Customer Name here</p>
                <p class="card-text text-color">Status:</p>
                <span class="card-text text-color">instructions here</span>
            </div>
            </div>
        </div>
            {% for order in orders %}
            
            {% endfor %}
        {% endblock deliveryCard %}
    </body>

</html>
