<!doctype html>
<html lang="en">
  <head>
    <title>Customer Landing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">


  </head>
  <body>
    {% include "base.html" %}
    {% block content %}
    <div class="container-nav">
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-yellow">
            <div class="fixed-width">
                <a class="nav-icon orange col" href="{{url_for('customer.landing')}}">Customer</a>
                <span class="orange col">View your orders</span>
            </div>
          
          <div class="dropdown show">
            <a class="btn navbar-toggler-icon orange" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              
            </a>
          
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{{url_for('customer.settings')}}">Settings</a>
              <a class="dropdown-item" href="{{url_for('auth.logout')}}">Logout</a>
            </div>
          </div>
          
          
        </nav>
        <nav class="tabpanel nav nav-fill bg-yellow justify-content-around">
          <a class="nav-link orange" href="javascript:void(0)" onclick="openTab(event, 'Shops');">Shops</a>
          <a class="nav-link orange" href="javascript:void(0)" onclick="openTab(event, 'Delivery');">Delivery</a>
        </nav>

        <div id="Shops" class="container p-3" style="display:block">
          <div class="row">
            {% for store in stores %}
              <div class="col-sm-6 mb-3">
                <div class="card">
                  <img src="https://static.wikia.nocookie.net/logopedia/images/c/c0/GrabFood_%282016%29.svg/revision/latest?cb=20210219083903" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title text-color text-center">{{store.name}}</h5>
                    <a href="/customer/create/{{store.id}}" class="btn btn-yellow btn-block">Buy here</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      
        <div id="Delivery" class="container p-3" style="display:none">
          <div class="row">
            {% for order in delivery %}
            <div class="col-sm-6 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-color">Order From: {{storeNames[order.storeId]}}</h5>
                  <p class="card-text text-color">Date and time: {{order.dateCreated.strftime('%Y-%m-%d, at %H:%M')}}</p>
                  <p class="card-text text-color">Status: {{order.status}}</p>
                  {% if order.status == "Delivering to Doorstep" %}
                    <form action="/customer/order/waypoint/{{order.orderId}}" method="post">
                      <label class="form-select for="waypoints">
                        <select id="waypoints" name="waypoint_selected">
                          {% for waypoint in waypoints[order.orderId] %}
                          <option value="{{ waypoint }}">{{ waypoint }}</option>
                          {% endfor %}
                        </select>
                        <button type="submit" class="m-1 btn col btn-outline-red">Confirm Waypoint</button>
                      </label>
                    </form>
                    <form action="/customer/order/{{order.orderId}}" method="post">
                      <button name="order_button" value="Delivered" class="m-1 btn col btn-outline-green">Order Received</button>
                    </form>
                  {% endif %}
                  <!-- <span class="card-text text-color">instructions here</span> --> 
                </div>
              </div>
            </div>
            
            {% endfor %}
          </div>
        </div>
      </div>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    {% endblock content %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      
      {% for message in messages %}
  
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
     
        {{ message }}
      </div>
      {% endfor %}
  
    {% endif %}
  {% endwith %}
  {% block body %}{% endblock %}
  </body>

  <script>
  function openTab(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("container p-3");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("nav-link");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace("nav-link orange active", "nav-link orange");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.firstElementChild.className += "nav-link orange active";
  }
  </script>

</html>